
/* Tablet - header & navbar links & two columns */

@media (min-width: 768px) {
    body {
        background-color: blue;
    }
    h1 {
        font-size: 205%;
    }

    .header-flex-h1 {
        padding-left: 8%;
      }

    .header-flex-time-left-tablet {   /* i wonder if i can use order*/
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 90%;
        padding-top: 15%;
        padding-left: 5%;
      }

      .header-flex-time {
        display: none;
      }

      .header-flex-weather {
          width: 100%;
      }



    .nav-bar-menu-icon {
        display: none;
      }
    .nav-bar-flex-links {
        display: flex;
    }

    .first-second-news-flex {
        display: flex;
        font-size: 90%;
      }

      .first-news-article-flex {
        width: 120%;
        height: auto;
      }

      .aside-top-news-flex {
        font-size: 70%;
        width: 100%;
        height: 200px;
      }

      .aside-bottom-news-flex {
        font-size: 70%;
        width: 100%;
        height: 200px;
}

#third-news-section-flex-main-container {
    font-size: 110%;
    

}
.third-news-section-flex-container-a {
    display: flex;
    gap: 1%;
    padding-left: 5%;

}

.third-news-section-flex-container-b {
    display: flex;
    gap: 1%;
    padding-left: 5%;
}

.third-news-section-flex-container-c {
    display: flex;
    gap: 1%;
    padding-left: 5%;

}

}

/* Laptop - nav search bar */

@media (min-width: 1024px) {
    body {
        background-color: brown;
    }
    h1 {
        font-size: 250%;
    }
    #search-field {
        display: block;
      }
    .nav-bar-flex-search{
        display: flex;
    }
    .first-second-news-flex {
        font-size: 100%;
      }

      .first-news-article-flex {
        width: 110%;
        height: auto;
      }

      .aside-top-news-flex {
        font-size: 70%;
        width: 110%;
        height: 300px;
      }

      .aside-bottom-news-flex {
        font-size: 70%;
        width: 110%;
        height: 300px;
    }
}


/* Maximum resolution - bottom section (three columns) */

@media (min-width: 1200px) {
    body {
        background-color: green;
    }
    h1 {
        font-size: 300%;
    }


    .header-flex-time-left-tablet {
       
        font-size: 110%;
        padding-top: 15%;
        padding-left: 5%;
      }

      .header-flex-weather {
          width: 120%;
      }

    .first-second-news-flex {
        font-size: 120%;
      }

      .first-news-article-flex {
        width: 100%;
        height: auto;
      }

      .aside-top-news-flex {
        font-size: 80%;
        width: 120%;
        height: 300px;
      }

      .aside-bottom-news-flex {
        font-size: 80%;
        width: 120%;
        height: 300px;
    }



    #third-news-section-flex-main-container {
        font-size: 120%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
       

    
    }
    
    .third-news-section-flex-container-a {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: -50%;
    
    }
    
    .third-news-section-flex-container-b {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    
    .third-news-section-flex-container-c {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-wrap: nowrap;
    
    } 




}